@import url('https://fonts.googleapis.com/css?family=Arvo|Mina');
* {box-sizing:border-box}
body {
    background-image: url(blue_background.jpg);
}
main {
    max-width: 1280px;
    margin: 0 auto;
    background: rgba(45, 142, 203, 0.74);
    padding-bottom: 3%;
}
.titlespace {
    margin-left: 5.5%;
}
.footer {
    text-align: right;
    font-family: 'Arvo', serif;
    right: 0;
    bottom: 0;
    width: 100%;
    font-size: 16px;
}
.titlestyle {
    text-align: center;
    font-family: 'Mina', sans-serif;
}
p {
    font-family: 'Arvo', serif;
    font-size: 20px;
    margin-left: 4%;
    margin-right: 4%;
}

h1 {
    font-family: 'Mina', sans-serif;
    text-decoration: underline;
    margin-left: 1%;
    margin-top: 5%;
}
h2 {
    font-family: 'Mina', sans-serif;
    text-decoration: underline;
    margin-left: 3%;
}
h3 {
    font-family: 'Mina', sans-serif;
    text-decoration: underline;
    margin-left: 3%;
}
.smoltext {
    text-align: center;
}
/*Home Page*/
.flex-container_h {
    
}
.button {
    font-family: 'Mina', sans-serif;
    font-size: 16px;
    text-align: center;
    background: rgb(54, 147, 255);
    border-style: solid;
    border-radius: 20%;
    text-decoration: none;
    padding: 10px;
    margin: 10%, 20%;
    color: black;
}
.buttongroup {
    margin-left: 37%
}
/*About Me*/
.flex-container_h {
    
}
/*Resume*/
.flex-container_a {
    
}
.lettersize {
    max-height: 550px;
}
.resumeedu {
    font-family: 'Arvo', serif;
    list-style: none;
}
.resumelist {
    list-style: none;
}
.resumeskill {
    font-family: 'Arvo', serif;
    list-style: none;
}
.resumeex {
    font-family: 'Arvo', serif;
    list-style: none;
}
.resumevol {
    font-family: 'Arvo', serif;
    list-style: none;
}
.r1 {
    margin-left: 3%;
    list-style: none;
    font-family: 'Arvo', serif;
}
.r2 {
    font-family: 'Arvo', serif;
    margin-top: 2%;
}
.r3 {
    margin-left: 5%;
    list-style: none;
    font-family: 'Arvo', serif;
}

/*Web Projects*/
.flex-container_web {
    
}
.imgspace {
    margin-left: 3%;
    max-width: 500px;
}
/*Writing*/
.flex-container_w {
    
}
.i1 {
    order: 1;
    width: 50%;
}
.i2 {
    order: 2;
    width: 25%;
}
.i3 {
    order: 3;
    width: 50%;
}
.i4 {
    order: 4;
    width: 25%;
}
.i5 {
    order: 5;
    width: 50%;
}
.i6 {
    order: 6;
    width: 25%;
}
/*Contact*/
.flex-container_c {
    
}
/*Navigation*/
.flex-container_n {
    flex-wrap: nowrap;
    flex-direction: row;
    border-right: 2px, solid, gray;
}
.navlist {
    width: 100%;
    font-family: 'Mina', sans-serif;
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: cornflowerblue;
    border: solid 2px black;
    flex-wrap: nowrap;
    justify-content: center;
    color: white;
    border-radius: 15px;
}
.navlist a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    flex-direction: row;
}
li {
    border-right: 3px, solid, #000000;
}
.navlist a:hover {
    background-color: #a7bee6;
}
.navlist:last-child {
    border-right: none;
}
.l1 {
    order: 1;
}
.l2 {
    order: 2;
}
.l3 {
    order: 3;
}
.l4 {
    order: 4;
}
.l5 {
    order: 5;
}
.l6 {
    order: 6;
}

/*Slideshow*/
.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.slideclass {
    display: none;
}
.caption {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev: hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active {
    background-color: #2e7080;
}








